# Copie para .env (não versionado) e ajuste os valores
JWT_SECRET=troque-por-um-segredo-aleatorio-de-pelo-menos-32-caracteres
GOOGLE_CLIENT_ID=
# DB_URL=jdbc:postgresql://localhost:5439/valemorar_db
# DB_USERNAME=postgres
# DB_PASSWORD=postgres
# JPA_SHOW_SQL=true
